body {
    font-size: 2rem;
}
i {
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes heartbeat {
    0%,100% {
        font-size: 2rem;
    }
    50% {
        font-size: 3rem;
    }
}